# aclocal
aclocal.m4
autom4te.cache
m4/

# autoconf
configure
config.guess
config.sub

# automake --missing
compile
depcomp
install-sh
missing

# automake
Makefile.in
.deps/

# libtool
libtool
ltmain.sh
.libs/

# autoheader
config.h.in

# configure
config.h
config.status
config.log
stamp-h1
Makefile

# backup files
*~

# pkgconfig
lib*.pc

# compiled files
*.o
*.lo
*.la
*.a
*.so
